* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none ;
    font-family: "roboto",sans-serif;
}

body{
    background: rgb(92,47,131);
background: linear-gradient(90deg, rgba(92,47,131,1) 6%, rgba(0,213,89,1) 88%);
}
form,div{
    width: 40%;
    min-width: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 15px 30px  rgba(0,213,89,1);
    margin: 100px auto ; 
    padding: 20px;
}
input,textarea{
    min-width: 320px;
    display: block;
    margin: 0 auto ;
    border-radius: 5px;
    border: 1px solid  #000000;
    margin-top: 20px;
    height:  40px;
    padding-left: 10px;
  
} 
textarea{
    height: 200px;
    padding-top: 10px;
}
button{
    display: block;
    margin: 20px auto  ;
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 5px;
    background: hsla(133, 100%, 29%, 0.699);
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.6;
}
h1{
    text-align: center ;
}
p{
    text-align: center;
    font-style: italic;
    margin: 15px;
}